/* color palette */
/* old color scheme */
/* :root {
  --color1: #182628;
  --color2: #65CCB8;
  --color3: #57BA98;
  --color4: #3B945E;
  --color5: #F2F2F2;
} */

html, body {
    /* background-color: var(--color2); */
    /* credit for background photo from unsplash */
    /* add link to bottom left of background and make sticky */
    /* https://unsplash.com/photos/L8126OwlroY?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink  */
    background: #cccccc url('./assets/federico-beccari-L8126OwlroY-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    justify-content: center;

}

.hero > div {
    background-color: red;
}

.hero > img {
    height: 600px;
    width: 450px;
}
